@model CQASEntidades.Negocio.CqasPersona
@{
    ViewData["Title"] = "Edit";
}
<div id="content">
    <p></p><!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2><strong>Editar Persona</strong></h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Codigo" />
                                <input type="hidden" asp-for="Cedula" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Cedula:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                <input type="number" disabled="disabled" asp-for="Cedula" id="ced" onblur="validar()" class="form-control" required minlength="10" maxlength="10" />
                                                <span asp-validation-for="Cedula" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label>Nombres:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                <input type="text" asp-for="Nombre" class="form-control text-uppercase" required pattern="[A-Za-z]+" />
                                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Apellidos:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                <input type="text" asp-for="Apellido" class="form-control text-uppercase" required pattern="[A-Za-z]+" />
                                                <span asp-validation-for="Apellido" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label>Fecha De Nacimiento:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                <input type="date" asp-for="FechaNacimiento" class="form-control" required />
                                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">

                                        <section class="col col-6">
                                            <label>Género:</label>
                                            <select id="genero" asp-for="CodigoGenero" asp- class="form-control" asp-items="ViewBag.Genero" required></select>
                                        </section>
                                        <section class="col col-6">
                                            <label>Dirección:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-home"></i>
                                                <input type="text" asp-for="Direccion" class="form-control text-uppercase" required />
                                                <span asp-validation-for="Direccion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Estado Civil:</label>
                                            <select id="TipoSangre" asp-for="CodigoEstadoCivil" asp- class="form-control" asp-items="ViewBag.EstadoCivil" required></select>
                                        </section>
                                        <section class="col col-6">
                                            <label>Nacionalidad:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-flag"></i>
                                                <input type="text" asp-for="Nacionalidad" class="form-control text-uppercase" required pattern="[A-Za-z]+" />
                                                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Correo Electrónico:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-envelope"></i>
                                                <input type="email" asp-for="CorreoElectronico" class="form-control text-uppercase" required />
                                                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label>Teléfono:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input type="text" asp-for="Telefono" class="form-control text-uppercase" onkeypress='return validaNumericos(event)' onblur="validar()" class="form-control" required="required" minlength="10" maxlength="10" />
                                                <span asp-validation-for="Telefono" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                </fieldset>

                                <footer>
                                    <input type="submit" value="Actualizar" class="btn btn-primary btn-sm" />
                                    <a asp-action="Index" class="btn btn-warning btn-sm">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script type="text/javascript">
        function validar() {
            var cad = document.getElementById("ced").value.trim();
            var total = 0;
            var longitud = cad.length;
            var longcheck = longitud - 1;
            if (cad !== "" && longitud === 10) {
                for (i = 0; i < longcheck; i++) {
                    if (i % 2 === 0) {
                        var aux = cad.charAt(i) * 2;
                        if (aux > 9) aux -= 9;
                        total += aux;
                    } else {
                        total += parseInt(cad.charAt(i));
                    }
                }
                total = total % 10 ? 10 - total % 10 : 0;
                if (cad.charAt(longitud - 1) == total) {
                } else {
                    alert("Cedula Invalida!!");
                }
            }

        }
    </script>
}
